<%= form_for @reading, :url => book_reading_path( @reading.book, @reading ) do |f| %>

<p>
	<label>Reading Status</label>
	
	<% Reading.statuses.each do |status, code| %>
		<p>
			<%= label_tag status %>
			<%= radio_button_tag "reading[status]", status %>
		</p>
	<% end %>
</p>

<%= f.submit :class => 'submit' %>

<% end %>