
<%= form_for @reading, :url => @url do |f| %>

	<% Reading.statuses.each do |status, code| %>
		<div class="form-group">
			<%= label_tag status %>
			<%= radio_button_tag "reading[status]", status %>
		</div>
	<% end %>

<%= f.submit :class => 'submit btn btn-primary' %>

<% end %>
