<h2>Readings</h2>
<% @readings.each do |reading| %>
<ul>
	<li><%= link_to(reading.book.title, reading.book) %></li>
	<li><%= (reading.status).gsub("_", " ").capitalize %></li>
	<li><%= link_to 'Edit', edit_book_reading_path(reading.book, reading) %></li>
	<li><%= link_to 'Delete', reading, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
</ul>
<% end %>