<h2><%= @reading.name %></h2>
	<div class="controls">
		<br><br>
		<li><%= link_to 'Edit', edit_reading_path(@reading) %></li>
		<li><%= link_to 'Delete', @reading, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
		<li><%= link_to 'Back', reading_path %></li>
	</div>