<!-- shows list of authors alongwith their image -->

<h2>Authors (<%= @authors.count %>)</h2>
	<% @authors.each do |author| %>
	<div class="infoshow">
		<div class="index">
			<%= image_tag author.image, :class => 'thumb' %>
			<p><%= link_to author.name, author %></p>
		</div>
	</div>
		
	<% end %>
