<h2>Books</h2>

<% @books.each do |book| %>

<%= link_to book.title, book %>
	
<div class="triviaboxindex">
	<div class="thumbnailindex">
		<div class="overlayInfoindex">
			<%= link_to book.title, book %>
		</div>

		<div class="thumbnailImageindex">
			<%= image_tag(book.image, :class => 'thumb') %>
		</div>
	</div>
</div>
<% end %>

