<h2>Books (<%= @books.count %>)</h2>

<% @books.each do |book| %>

<div class="triviaboxindex">
	<div class="thumbnailindex">
		<div class="overlayInfoindex">
			<%= link_to book.title, book %>
			<% if book.author %>
				<%= link_to book.author.name, book.author %>
			<% end %>
		</div>

		<div class="thumbnailImageindex">
			<%= link_to(image_tag(book.image, :class => 'thumb'), book) %>
		</div>
	</div>
</div>

<% end %>

