
<!-- displays a list of books for the admin to add to db from goodreads api -->
<% if @books.any? %>
	<% @books.each do |book| %>
		<p>
			<%= link_to(book[:title], books_path(:good_reads_id => book[:good_reads_id]), :method => :post) %>
		</p>
	<% end %>
<% else %>
	<h2>Error !!!</h2>
<% end %>